@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}

<div class="about">
    <div class="container">
        <div class="singel_right">
            <div class="col-md-8">
                <div class="contact-form">
                    @using (Html.BeginForm("Home", "SiteFeedbacks", FormMethod.Post))
                    {
                        <h3>Please write your advice:</h3>
                        <p class="comment-form-author">
                            <label for="author">Title:</label>
                            <input type="text" name="Title" class="textbox" placeholder="Enter your title here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        </p>
                        <p class="comment-form-author">
                            <label for="author">SiteFeedback:</label>
                            <textarea name="SiteFeedback" placeholder="Enter your sitefeedback here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                        </p>
                        <input name="submit" type="submit" id="submit" value="Submit">
                        <style type="text/css">
                            .contact-form button {
                                display: inline-block;padding: 13px 25px;background: #df1f26;color: #fff;font-size: 1em;line-height: 18px;text-transform: uppercase;border: none;outline: none;  cursor: pointer;-webkit-appearance: button;
                            }
                                .contact-form ibutton a:hover {
                                    color:black;
                                }
                                .contact-form button a {
                                    color:white;
                                }
                        </style>
                        <button>@Html.ActionLink("View", "SingleSiteFeedback")</button>
                    }
                </div>
            </div>

            <div class="col-md-4 contact_right">
                <h3>地址:</h3>
                <div class="address">
                    <div class="contact_address">
                        江苏省南京市雨花台区铁心桥龙西路十号三江学院
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>电话:</h3>
                    <div class="contact_address">
                        18652936326
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>邮箱:</h3>
                    <div class="contact_email">
                        <a href="http://email.163.com/" target="_blank">xxq260310x@163.com</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer_bg">
</div>
