@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}


<div class="about">
    <div class="container">
        <div class="about_top">
            <div class="col-md-4 span1">
                <h3>我们是谁?</h3>
                <img src="~/images/p2.jpg" class="img-responsive" alt="" />
                <p>本网站一贯坚持诚信为本，低价为主的理念，为广大二手商品需求者提供一个可供交流，购买，参考的购物天堂。</p>
            </div>
            <div class="col-md-4 span1 span_2">
                <h3>需求</h3>
                <img src="~/images/p14.jpg" class="img-responsive" alt="" />
                <p>还有啥想要的商品吗？点击<a href="~/RequiredCommodities/Home" target="_self">这里</a></p>
            </div>
            <div class="col-md-4 span1">
                <h3>机会</h3>
                <img src="~/images/p1.jpg" class="img-responsive" alt="" />
                <p>想发家致富吗？想脱离贫困吗？现在起，只要点击<a href="~/Feedbacks/Home" target="_self">这里</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer_bg"></div>