@model Portal.Models.Announcement
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}


<div class="about">
    <div class="container">
        <div class="singel_right">
            <div class="col-md-8">
                    <style type="text/css">
                        .hd {
                            line-height: 25px;
                            height: 25px;
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                            width: 788px;
                            padding-top: 5px;
                            background-position: 0 -82px;
                            background-repeat: repeat-x;
                        }
                    </style>
                <div class="hd">
                    <span class="time-author">发表于 @Model.CreationDate</span>
                </div>
                <br/>
                <div class="contact-form">
                    <h3 style="text-align: center;">@Model.Title</h3>
                    <pre><p>@Model.Content</p></pre>
                </div>
                <br />
                <div>
                    @Html.ActionLink("Back to List", "Home")
                </div>
            </div>

            <div class="col-md-4 contact_right">
                <h3>地址:</h3>
                <div class="address">
                    <div class="contact_address">
                        江苏省南京市雨花台区铁心桥龙西路十号三江学院
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>电话:</h3>
                    <div class="contact_address">
                        18652936326
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>邮箱:</h3>
                    <div class="contact_email">
                        <a href="http://email.163.com/" target="_blank">xxq260310x@163.com</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="footer_bg">
</div>

