@model PagedList.IPagedList<Portal.Models.Announcement>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}

<div class="about">
    <div class="container">
        <div class="singel_right">
            <div class="col-md-8">
                <div class="contact-form">
                        @foreach (var item in Model)
                        {
                            <p><a href="@Url.Action("AnnouncementDetails", "AnnouncementsHome", new { Title = item.Title})">@item.Title</a></p> 
                            <br/>
                        }
                    @Html.PagedListPager(Model, page => Url.Action("Home",
                             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                </div>
            </div>

            <div class="col-md-4 contact_right">
                <h3>地址:</h3>
                <div class="address">
                    <div class="contact_address">
                        江苏省南京市雨花台区铁心桥龙西路十号三江学院
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>电话:</h3>
                    <div class="contact_address">
                        18652936326
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address">
                    <h3>邮箱:</h3>
                    <div class="contact_email">
                        <a href="http://email.163.com/" target="_blank">xxq260310x@163.com</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="footer_bg">
</div>

